{extend name="public/base" /}

{block name="body"}
<div class="main-title">
    <h2>导航管理</h2>
</div>

<div class="cf">
    <a class="btn" href="{:url('add')}">新 增</a>
    <button class="btn ajax-post confirm" url="{:url('del')}" target-form="ids">删 除</button>
</div>

<div class="data-table table-striped">
    <table>
        <thead>
        <tr>
            <th class="row-selected">
                <input class="checkbox check-all" type="checkbox">
            </th>
            <th>ID</th>
            <th>真实姓名</th>
            <th>电话</th>
            <th>房号</th>
            <th>状态</th>
            <th>与业主的关系</th>
            <th>是否通过</th>
        </tr>
        </thead>
        <tbody>
        {notempty name="expire"}
        {volist name="expire" id="expire"}
        <tr data-id="{$expire.id}">
            <td><input class="ids row-selected" type="checkbox" name="id[]" id="" value="{$expire['id']}"> </td>
            <td>{$expire.id}</td>
            <td>{$expire.realname}</td>
            <td>{$expire.tel}</td>
            <td>{$expire.num}</td>
            <td>
                {$expire.status==1?"已通过":"未通过"}
            </td>
            <td>
                <?php if($expire['relation']==1){
                echo "本人";
                }elseif($expire['relation']==2){
                echo "亲戚";
                }elseif($expire['relation']==3){
                echo "租户";
                }?>
            </td>
            <td>
                <a  href="javascript:;" class="tongguo">通过</a>
            </td>
        </tr>
        {/volist}
        {else/}
        <td colspan="6" class="text-center"> aOh! 暂时还没有内容! </td>
        {/notempty}
        </tbody>
    </table>
    <!-- 分页 -->
    <div class="page">
        {$page}
    </div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
    $(function() {
        $('.tongguo').click(function () {

            var id=$(this).closest('tr').attr('data-id');

           $.get(
               '/admin/vili/edit.html',{'id':id},function (data) {

                   if(data=='success'){
                       alert("通过成功")
                       location.reload();
                   }
               }
           )
        })

        //点击排序
        $('.list_sort').click(function(){
            var url = $(this).attr('url');
            var ids = $('.ids:checked');
            var param = '';
            if(ids.length > 0){
                var str = new Array();
                ids.each(function(){
                    str.push($(this).val());
                });
                param = str.join(',');
            }

            if(url != undefined && url != ''){
                window.location.href = url + '/ids/' + param;
            }
        });
    });
</script>
{/block}