{extend name="public/base" /}

{block name="body"}
<div class="main-title">
    <h2>
        {$info['id']?'编辑':'新增'}导航
        {notempty name="pid">
        [&nbsp;父导航：<a href="{:url('index','pid='.$pid)}">{$parent.title}</a>&nbsp;]
        {/notempty}
    </h2>
</div>
<form action="{:url()}" method="post" class="form-horizontal">
    <input type="hidden" name="status" value="1">
    <div class="form-item">
        <label class="item-label">电话号码<span class="check-tips">（工作人员用来联系您的电话号码）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="tel" value="{$info.tel|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">姓名<span class="check-tips">（您的姓名）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="name" value="{$info.name|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">地址<span class="check-tips">（您的地址）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="address" value="{$info.address|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">问题简述<span class="check-tips">（请简单描述一下您遇到的问题）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="des" value="{$info.des|default=''}">
        </div>
    </div>
    <div class="form-item">
        <label class="item-label">主要内容<span class="check-tips">（请具体描述下您的问题）</span></label>
        <div class="controls">
            <input type="text" class="text input-large" name="content" value="{$info.content|default=''}">
        </div>
    </div>

    <div class="form-item">
        <input type="hidden" name="id" value="{$info.id|default=''}">
        <button class="btn submit-btn ajax-posts" id="submit" type="submit" target-form="form-horizontal">确 定</button>
        <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript" charset="utf-8">
    //导航高亮
    highlight_subnav('{:url('index')}');
</script>
{/block}
